<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <script src="{%static "js/jquery.js" %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{%static "bulma/css/bulma.css" %}">

    {% include "include/utils.html" %}
  <style media="screen">
    body{
      padding: 12px;
      font-family: 'Lato', sans-serif;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
      </div>
    </div>
    <div class="columns">
  <div class="column">
  {{items}}
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>
  </div>

</body>
</html>
