<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Admin</title>
  {% load static %}
  {% include "include/utils.html" %}
  <script src="{%static "js/jquery.js" %}" charset="utf-8"></script>
  <link rel="stylesheet" href="{%static "bulma/css/bulma.css" %}">
  <link rel="stylesheet" href="{%static "css/login.css" %}">
  <style media="screen">
    body{
      padding: 12px;
      font-family: 'Lato', sans-serif;
    }

  </style>

</head>

<body>
  <section class="hero is-success is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                  <h3 class="title has-text-grey">Sign Up</h3>
                  <p class="subtitle has-text-danger">{{ error }}</p>
                  <div class="box">
                      <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Your Username" autofocus="" name="username">
                            </div>
                        </div>
                          <div class="field">
                              <div class="control">
                                  <input class="input is-large" type="email" placeholder="Your Email" autofocus="" name="email">
                              </div>
                          </div>

                          <div class="field">
                              <div class="control">
                                  <input class="input is-large" type="password" placeholder="Your Password" name="password">
                              </div>
                          </div>

                          <input class="button is-block is-info is-large is-fullwidth" value="Sign Up" type="submit">
                      </form>
                  </div>
                  <p class="has-text-grey">
                      <a href="{% url 'login' %}">Login</a>
                  </p>
              </div>
          </div>
      </div>
  </section>

</body>
  <script src="{%static "js/bulma.js" %}" charset="utf-8"></script>

</html>
